extends layout.pug
include post_form.pug
include post_content.pug

block content
  h1 /#{tag}/ - #{boardName}

  +post_form(texts.posting_mode_post)

  include pagination.pug

  div.threads
    each thread in threads
      div.thread(id=thread.id)
        +post_content(thread, "board", texts)
