//- No divs since they do not become inlined in Links browser
b.post_header_element.subject= post.subject + ' '
a.post_header_element.poster= post.poster + ' '
a.post_header_element.timestamp= post.timestamp + ' '
a.post_header_element.thread_id= post.id + ' '
