extends layout.pug
include post_form.pug
include post_content.pug

block content
  h1 /#{tag}/ - #{boardName}
  div.return_to_board
    a(href='/' + tag) #{texts.up}

  +post_form(texts.posting_mode_reply, true, thread.id)

  div.thread
    +post_content(thread, "thread", texts)
    each post in posts
      div.post(id=post.id)
        +post_content(post, "thread", texts)

  +post_form(texts.posting_mode_reply, true, thread.id)
