:root {
  --color: #525943;
  --background: #F2D8C2;
  --background2: #F2F2F2;
  --accent: #F27D52;
  --accent2: #E34D2E;
}

body {
  background-color: var(--background);
  color: var(--color);
  border-color: var(--color);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.navbar {
  text-align: right;
}

h1 {
  margin: 10px;
  text-align: center;
}

@media /* Thread and posts content */ {
  div.thread {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    display: block;
    padding: 20px 0 20px 0;
    margin: 10px 0 10px 10px;
  }

  div.thread_info {
    font-style: italic;
  }

  div.post {
    background-color: var(--background2);
    border-color: var(--color);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin: 10px 0 10px 10px;
  }

  .post_message {
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: var(--accent);
  }

  a:visited {
    color: var(--accent2);
  }

  img {
    max-width: 70%;
  }
}

pre {
  overflow: auto;
}

@media /* Pagination related rules */ {
  div.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  a.page {
    margin: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px dotted var(--accent);
  }

  a.page-selected {
    border: 2px solid var(--accent);
  }

  span.hidden-space {
    display: none;
  }
}

@media /* Posting form related rules */ {
  span.posting_mode {
    font-weight: bold;
  }

  div.postarea {
    text-align: center;
    padding-left: 5px;
    padding-right: 10px;
  }

  form.new_post {
    width: 500px;
    max-width: 100%;
    margin: auto;
    display: inline-block;
  }

  table.post_form_layout {
    text-align: left;
    width: 100%;
  }

  td.header_column {
    font-weight: bold;
    background: var(--background2);
    border-color: var(--color);
    border-style: solid;
    border-width: 1px;
    width: 0; /* Shrink to fit inner text */
  }

  div.trap {
    display: none;
  }

  input[type="text"], textarea {
    background-color: var(--background2);
    color: var(--color);
  }

  textarea.input_post {
    width: 100%;
  }

  input[name="oaoao"] {
    width: 65%;
    max-width: 300px;
  }
}

footer {
  margin: 35px 0 15px 0;
  text-align: center;
}

#nav-down-floating {
  position: fixed;
  background-color: var(--background2);
  border-color: var(--color);
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  padding: 4px;
  right: 20px;
  z-index: 10;
}

#nav-down-floating.popup-visible {
  transition: bottom .1s;
  bottom: 10%;
}

#nav-down-floating.fadeout-hidden {
  /* Fading. Thanks to https://stackoverflow.com/a/16860733 */ 
  opacity: 0;
  -webkit-transition: opacity 1s, bottom 1s;
  -moz-transition: opacity 1s, bottom 1s;
  -o-transition: opacity 1s, bottom 1s;
  transition: opacity 1s, bottom 1s;
  bottom: -40px;
}
