/* Color Theme Swatches in Hex */
.Helka-pidu-1-hex { color: #525943; }
.Helka-pidu-2-hex { color: #F2D8C2; }
.Helka-pidu-3-hex { color: #F2F2F2; }
.Helka-pidu-4-hex { color: #F29C6B; }
.Helka-pidu-5-hex { color: #F27D52; }

:root {
  --main-txt-color: #525943;
  --main-bg-color:  #F2D8C2;
  --main-bg2-color: #F2F2F2;
  --main-fg-color:  #F29C6B;
  --main-fg2-color: #F27D52;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  border-color: var(--main-txt-color);
}

h1 {
  margin: 10px;
  text-align: center;
}

div.thread {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  display: block;
  padding: 20px 0 20px 0;
  margin: 10px 0 10px 10px;
}

div.post {
  background-color: var(--main-bg2-color);
  border-color: var(--main-txt-color);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  display: block;
  padding: 10px;
  margin: 10px 0 10px 10px;
}

.new_post {
  margin: auto;
  display: inline-block;
}

.input_post {
  display: block;
}
