:root {
  --color: #fff;
  --background: rgb(34, 33, 41);
  --background2: rgb(34, 33, 41);
  --accent: #ffa86a;
  --accent2: #ffa86a;
}

body {
  font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
  line-height: 1.54;
  letter-spacing: -.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga","tnum","case","calt","zero","ss01","locl","calt";
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}
